@{
    ViewData["Title"] = "Home Page";
}
@model Books.ViewModels.Home.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Here's some books</h1>
    <p>@Model.Message</p>

    <a href="/books/newbook">New Book</a>

    <br />
    <br />

   @foreach (var book in Model.Books)
    {
       <p><a href="/books/book/@book.BookId">ID: @book.BookId TITLE: @book.Title</a></p>
    }
</div>
